/*  1 Базовая стилизация  */

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/gilroylight.woff2") format("woff2"),
			 url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
			 url("../fonts/gilroyextrabold.woff") format("woff");
}

/*  1.1 Базовая стилизация всей страницы */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
	color: #464646;
	
	background-color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

a {
	text-decoration: none;
}

.btn {
	font: inherit;
	
	text-align: center;
	color: rgba(0, 0, 0, 1);
	vertical-align: middle;
	
	background-color: transparent;
	background-image: linear-gradient(to bottom, transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
	border: none;
}

.btn:hover,
.btn:focus {
	background-color: #f0c52e;
	color: rgba(0, 0, 0, 1);
}

.btn:active {
	color: rgba(0, 0, 0, 0.3);
}

/*  1.2 Базовая стилизация шапки */

.main-header {
	color: #000000;
	font-size: 15px;
	line-height: 36px;
	
	background-color: #f7e296;
}

.logo {
	margin: 0;
	padding: 0;
}

.logo a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 48px;
	line-height: 60px;
}

.logo.in-header a {
	color: rgba(0, 0, 0, 1);
}

.logo.in-header a[href]:hover,
.logo.in-header a[href]:focus {
	color: rgba(0, 0, 0, 0.6);
}

.logo.in-header a[href]:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-search-form input[type="search"] {
	background-color: transparent;
	border: none;
	outline: 1px solid black;
}

.user-search-label {
	opacity: 0.3;
}
/*
.user-search-form input[type="search"] ~ .user-search-btn {
	opacity: 0;
}

.user-search-form input[type="search"]:focus ~ .user-search-btn {
	opacity: 1;
}
*/
.user-search-form input[type="search"]:hover + .user-search-label {
	opacity: 0.6;
}

.user-search-form input[type="search"]:focus {
	border-bottom: 1px solid black;
	outline: none;
}
/*
.user-search-form input[type="search"]:focus + .user-search-label {
	opacity: 0;
}
*/
.user-search-btn {
	font: inherit;
	border: 1px solid #000000;
	background-color: transparent;
}

.user-search-btn:hover,
.user-search-btn:focus,
.user-search-btn:active {
	background-color: #000000;
	color: #ffffff;
}

.user-search-btn:active {
	color: rgba(255, 255, 255, 0.3);
}

.user-actions-list,
.user-login-list,
.main-navigation-list,
.secondary-menu-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.user-actions-list a {
	color: #000000;
	background-color: transparent;
}

.user-actions-list .user-name,
.user-actions-list .user-login {
	color: #000000;
}

.user-actions-list .user-logout {
	color: rgba(0, 0, 0, 0.3);
}

.user-actions-list a:hover,
.user-actions-list a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.user-actions-list .user-logout:hover,
.user-actions-list .user-logout:focus {
	color: rgba(0, 0, 0, 1);
}

.user-actions-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-actions-list .user-logout:active {
	color: rgba(0, 0, 0, 0.6);
}

.user-actions-item {
	text-align: right;
}


.main-navigation-list a {
	color: #000000;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.main-navigation-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation-item > a {
	text-transform: uppercase;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 2px;
}

/*  1.3 Базовая стилизация основного содержимого главной страницы*/
/*  1.3.1 Базовая стилизация промо-слайдера  */

.promo-slides-list,
.slider-controls {
	list-style: none;
	margin: 0;
	padding: 0;
}

.slide-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 47px;
	line-height: 56px;
	color: #000000;
}

.slide-detail-btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 2px;
}

.slide-info-table thead {
	font-size: 13px;
	line-height: 20px;
}

.slide-info-table tbody {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	color: #000000;
}

/*  1.3.2 Базовая стилизация галереи продуктов  */

.product-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.product-item h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.product-image {
	background-color: rgba(240, 197, 46, 0.5);
}

.product-item:hover .product-image,
.product-item:focus .product-image {
	background-color: rgba(240, 197, 46, 1);
}

.product-item:active .product-image {
	background-color: rgba(240, 197, 46, 1);
}

.product-item:active img,
.product-item:active h3 {
	opacity: 0.3;
}

/*  1.3.3 Базовая стилизация слайдера сервисов  */

.services {
	background-color: #e5e5e5;
}

.service-buttons,
.service-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.service-btn {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 2px;
	cursor: pointer;
}

.service-btn:active,
.service-btn-current,
.service-btn-current:hover,
.service-btn-current:focus,
.service-btn-current:active {
	background-color: #000000;
	background-image: none;
	color: #f7e184;
	cursor: default;
}

.service-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 47px;
	line-height: 55px;
	color: #000000;
}

/*  1.3.4 Базовая стилизация галереи брэндов */

.brand-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.brand-item {
	cursor: pointer;
}

.brand-item img {
	opacity: 0.2;
}

.brand-item:hover img {
	opacity: 1;
}

/*  1.3.5 Базовая стилизация блока О НАС и КОНТАКТЫ */

.about-us-title,
.contacts-title {
	margin: 0;
	padding: 0;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 47px;
	line-height: 55px;
	color: #000000;
}

.delivery-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.delivery-item {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
}

/*  1.4 Базовая стилизация основного содержимого внутренних страниц*/

/*  1.4.1 Базовая стилизация хлебных крошек*/

.page-title {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 47px;
	line-height: 55px;
	color: #000000;
}

.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-size: 14px;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

/*  1.4.2 Базовая стилизация фильтра*/

.filter {
	background-color: #efefef;
}

.filter h2,
.sort h2 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	letter-spacing: 2px;
}

.filter-cost label,
.filter-color legend,
.filter-bluetooth legend {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.filter-color,
.filter-bluetooth {
	border: none;
}

.filter-color-list,
.filter-bluetooth-list {
	list-style: none;
	margin: 0;
	padding: 0;
} 

.filter-color-option label,
.filter-bluetooth-option label {
	font-size: 14px;
	line-height: 40px;
	color: #000000;
}

.filter-btn {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 2px;
	font-weight: 900;
}

/*  1.4.3 Базовая стилизация сортировки*/

.sort {
	background-color: rgba(0, 0, 0, 0.08);
}

.sort-list,
.sort-controls {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sort-item a {
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.sort-item a:hover,
.sort-item a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sort-item a:active {
	color: rgba(0, 0, 0, 1);
}

.sort-item-current a,
.sort-item-current a:hover,
.sort-item-current a:focus,
.sort-item-current a:active {
	color: rgba(0, 0, 0, 1);
}

.sort-controls-item a {
	font-size: 0;
}

/*  1.4.4 Базовая стилизация каталога*/

.catalog {
	background-color: #ffffff;
}

.catalog-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-item h3 {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.catalog-item-price {
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
}

.catalog-item-picture {
	background-color: #efefef;
}

.catalog-compare {
	font-size: 13px;
	line-height: 36px;
	color: rgba(0, 0, 0, 0.5);
}

.catalog-compare:hover,
.catalog-compare:focus {
	color: rgba(0, 0, 0, 1);
}

.catalog-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pagination {
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:active {
	color: rgba(0, 0, 0, 1);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
	color: rgba(0, 0,0, 1);
}

.pagination-btn {
	border: none;
	background-color: transparent;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
	color: rgba(0, 0, 0, 1);
	letter-spacing: 2px;
}

.pagination-btn:hover,
.pagination-btn:focus {
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-btn:active {
	background-color: rgba(0, 0, 0, 0.08);
	color: rgba(0, 0, 0, 0.3);
}

/*  1.5 Базовая стилизация подвала */

.main-footer {
	background-color: #464646;
	color: #ffffff;
}

.logo.in-footer a {
	color: #ffc600;
}

.logo.in-footer a[href]:hover,
.logo.in-footer a[href]:focus {
	opacity: 0.6;
}

.logo.in-footer a[href]:active {
	opacity: 0.3;
}

.user-actions-list.in-footer a {
	color: rgba(255, 255, 255, 0.7);
	line-height: 36px;
}

.user-actions-list.in-footer a:hover,
.user-actions-list.in-footer a:focus {
	color: rgba(255, 255, 255, 1);
}

.user-actions-list.in-footer a:active {
	color: rgba(255, 255, 255, 0.3);
}

.main-navigation-list.in-footer a {
	color: rgba(255, 255, 255, 1);
}

.main-navigation-list.in-footer a:hover,
.main-navigation-list.in-footer a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.main-navigation-list.in-footer a:active {
	color: rgba(255, 255, 255, 0.3);
}

.social-buttons {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-btn {
	background-color: rgba(255, 255, 255, 0.3);
}

.social-btn:hover,
.social-btn:focus {
	background-color: rgba(255, 255, 255, 0.6);
}

.social-btn:active {
	background-color: rgba(255, 255, 255, 0.1);
}

/*  1.6 Базовая стилизация модальных окон */

.btn-close {
	border: none;
	background-color: rgba(240, 197, 46, 0.5);
}

.btn-close:hover,
.btn-close:focus {
	background-color: rgba(240, 197, 46, 1);
	outline: none;
	border: none;
}

.btn-close:active {
	outline: none;
	border: none;
	background-color: rgba(240, 197, 46, 0.3);
}


/*  1.6.1 Базовая стилизация формы обратной связи */

.feedback-form {
	background-color: #ffffff;
	
}

.feedback-form label {
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 900;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
	border: none;
	background-color: rgba(229, 229, 229, 0.5);
	color: rgba(70, 70, 70, 0.4);
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
	background-color: rgba(229, 229, 229, 0.8);
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
	background-color: #ffffff;
	outline: 3px solid #f0c52e;
	color: rgba(70, 70, 70, 1);
} 

.feedback-form input[type="text"]:invalid,
.feedback-form input[type="email"]:invalid,
.feedback-form textarea:invalid {
	background-color: rgba(237, 181, 181, 0.5);
	color: rgba(70, 70, 70, 0.4);
} 

/*  1.6.2 Базовая стилизация карты */

/*  2 Сетка  */
/*  2.1 Центровщик для всего проекта  */

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 60px;
	
	outline: 1px solid aqua;
}

/*  2.2 Сетка шапки  */

.main-header {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.logo.in-header {
	outline: 1px solid red;
	align-self: flex-start;
}

.main-header-user {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	align-items: flex-start;
}

.user-search-form {
	outline: 1px solid red;
	width: 200px;
}

.user-actions-list {
	width: 500px;
	display: flex;
}

.in-header .user-actions-item {
	width: 120px;
	outline: 1px solid red;
}

.in-header .user-actions-item:first-child {
	flex-grow: 1;
}

.user-login-list {
	display: flex;
}

.main-navigation-list {
	display: flex;
}

.in-header .main-navigation-item:nth-child(1) {
	outline: 1px solid green;
	width: 540px;
}

.in-header .main-navigation-item:nth-child(2) {
	width: 160px;
	outline: 1px solid green;
	align-self: flex-start;
}

.in-header .main-navigation-item:nth-child(3) {
	width: 140px;
	outline: 1px solid green;
	align-self: flex-start;
}

.in-header .main-navigation-item:nth-child(4) {
	width: 140px;
	outline: 1px solid green;
	margin-left: 60px;
	align-self: flex-start;
}

.secondary-menu-list {
	width: 200px;
	flex-shrink: 0;
	outline: 1px solid black;
}

.secondary-menu-list:first-child {
	width: 240px;
}

.secondary-menu-container {
	display: flex;
}

/*  2.3 Сетка основного содержимого главной страницы*/
/*  2.3.1 Сетка промо-слайдера  */

.promo-slider {
	position: relative;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.promo-slides-item {
	display: flex;
	justify-content: flex-end;
}

.promo-slides-item:nth-child(1) .slide-image {
	width: 384px;
	outline: 1px solid pink;
}

.promo-slides-item:nth-child(2) .slide-image {
	width: 345px;
	outline: 1px solid pink;
}

.promo-slides-item:nth-child(3) .slide-image {
	width: 526px;
	outline: 1px solid pink;
}

.slide-info {
	width: 500px;
	
	outline: 1px solid red;
}

.slider-controls {
	width: 350px;
	outline: 1px solid red;
	display: flex;
	justify-content: space-between;
}

/*  2.3.2 Сетка галереи продуктов  */

.product-gallery {
	margin-bottom: 100px;
}

.product-list {
	display: flex;
	justify-content: space-between;
	margin-left: -60px;
	margin-right: -60px;
}

.product-item {
	width: 160px;
	outline: 1px solid red;
}

.product-name {
	margin: 0;
	padding: 0;
}

.product-image {
	width: 160px;
	height: 160px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*  2.3.3 Сетка слайдера сервисов  */

.services {
	margin-bottom: 100px;
}

.services .container {
	display: flex;
	justify-content: space-between;
}

.service-buttons {
	width: 280px;
	margin-left: -60px;
	outline: 1px solid red;
}

.service-list {
	width: 700px;
	outline: 1px solid blue;
}

.service-item {
	padding-right: 280px;
}

.service-title {
	margin: 0;
	padding: 0;
}

/*  2.3.4 Сетка галереи брэндов */

.brand-gallery {
	margin-bottom: 100px;
}

.brand-list {
	margin-left: -60px;
	margin-right: -60px;
	display: flex;
	justify-content: space-between;
}

.brand-item {
	width: 260px;
	outline: 1px solid red;
}

/*  2.3.5 Сутка блока О НАС и КОНТАКТЫ */

.about-container {
	display: flex;
	justify-content: space-between;
}

.about-us {
	width: 560px;
	outline: 1px solid red;
	margin-left: -60px;
}

.contacts {
	width: 560px;
	outline: 1px solid red;
	margin-right: -60px;
}

.about-us,
.contacts {
	display: flex;
	flex-direction: column;
}

.delivery-list {
	margin-top: 50px;
	margin-bottom: 50px;
}

.about-us-btn,
.contacts-btn {
	margin-top: auto;
}

/*  2.4 Сетка основного содержимого внутренних страниц*/

/*  2.4.1 Сетка хлебных крошек*/

.page-title {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}

.breadcrumbs {
	outline: 1px solid red;
	width: 400px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

/*  2.4.2 Сетка фильтра*/

.catalog-wrapper {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #fff));
	background-image: linear-gradient(to right, #efefef 50%, #fff 50%);
}

.catalog-wrapper > .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background-image: linear-gradient(to right, #efefef 330px, #fff 330px);
}

.filter {
	width: 270px;
	outline: 1px solid red;
	display: flex;
	flex-direction: column;
}

.filter h2 {
	margin: 0;
	padding: 0;
	padding-top: 25px;
	margin-bottom: 60px;
}

.filter-cost {
	outline: 1px solid red;
	margin-bottom: 50px;
}

.filter-color,
.filter-bluetooth {
	outline: 1px solid red;
	margin-bottom: 30px;
}

.filter-color-option,
.filter-bluetooth-option {
	padding-left: 30px;
}

/*  2.4.3 Сетка сортировки и каталога*/

.catalog {
	margin-top: 100px;
	width: 760px;
	outline: 1px solid blue;
}

.sort {
	position: absolute;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.08);
}

.sort > .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	align-items: center;
}

.sort h2 {
	margin: 0;
	padding: 0;
	outline: 1px solid red;
}

.sort-list {
	display: flex;
	width: 300px;
	outline: 1px solid red;
	margin-left: 60px;
}

.sort-controls {
	width: 60px;
	outline: 1px solid red;
	margin-right: -60px;
	margin-left: 220px;
}

.sort-and-catalog {
	width: 760px;
	margin-right: -60px;
}

.catalog-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.catalog-item {
	width: 360px;
	outline: 1px solid pink;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	margin-bottom: 40px;
}

.catalog-item-picture {
	margin-bottom: 40px;
}

.catalog-item-info {
	display: flex;
	justify-content: space-between;
}

.catalog-item-info h3 {
	margin: 0;
	padding: 0;
	outline: 1px solid red;
	margin-bottom: auto;
}

.catalog-item:nth-child(2n) h3 {
	width: 220px;
}

.pagination {
	display: flex;
	justify-content: space-between;
}

.pagination-list {
	display: flex;
}

/*  2.5 Сетка подвала */

.main-footer {
	padding-top: 60px;
	padding-bottom: 40px;
}

.main-footer > .container {
	display: flex;
	flex-direction: column;
}

.main-footer-user {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.in-footer.user-actions-list {
	width: 360px;
}

.in-footer .user-actions-item {
	width: 120px;
	outline: 1px solid red;
}


.main-footer-conditions {
	display: flex;
	justify-content: space-between;
}

.main-footer-conditions .address,
.main-footer-conditions .phone {
	margin: 0;
	padding: 0;
}

.in-footer.main-navigation-list {
	flex-grow: 1;
	justify-content: center;
}

.in-footer .main-navigation-item {
	margin-right: 20px;
}

.in-footer .main-navigation-item:last-child {
	margin-right: 0;
}

.main-footer-social::before {
	
	content: "";
	width: 100px;
	height: 10px;
	background-color: #ffc600;
}

.main-footer-social {
	display: flex;
	justify-content: space-between;
}

.social-buttons {
	width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.copyright {
	margin: 0;
	padding: 0;
	width: 100px;
	outline: 1px solid red;
}

/*  2.6 Сетка модальных окон */
/*  2.6.1 Сетка формы обратной связи */

.modal-feedback{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	outline: 1px solid red;
	padding: 90px 100px;
}

.feedback-form {
	outline: 1px solid black;
}

.feedback-row {
	display: flex;
	justify-content: space-between;
}

.feedback-input {
	margin: 0;
	padding: 0;
	width: 360px;
	outline: 1px solid green;
}

.feedback-input label {
	display: block;
}

.feedback-text {
	outline: 1px solid green;
}

.feedback-text textarea {
	width: 100%;
}


/*  2.6.2 Сетка карты */

.modal-map {
	width: 994px;
	margin-left: auto;
	margin-right: auto;
	outline: 1px solid red;
}

