*, *::after, *::before {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html,
body {
  min-width: 1200px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
	background-color: #ffffff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

ul, ol, p, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}


/* Сетка header*/

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 60px;
	
	outline: 1px solid aqua;
}

.main-header {
	background-color: #f7e296;
	min-height: 188px;
	padding-left: 60px;
	padding-right: 60px;
}


.main-header-user-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.main-header-navigation {
	outline: 1px solid red;
}

.main-header-navigation-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-header-search-form {
	outline: 1px solid red;
	width: 200px;
}

.main-header-user-actions-list {
	outline: 1px solid red;
	width: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.main-header-user-actions-item {
	width: 120px;
	outline: 1px solid red;
}

.main-header-user-actions-item:first-child {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.main-header-navigation-item:nth-child(1) {
	-ms-flex-preferred-size: 240px;
	flex-basis: 240px;
	outline: 1px solid green;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.main-header-navigation-item:nth-child(2) {
	width: 160px;
	outline: 1px solid green;
}

.main-header-navigation-item:nth-child(3) {
	width: 140px;
	outline: 1px solid green;
}

.main-header-navigation-item:nth-child(4) {
	width: 140px;
	outline: 1px solid green;
	margin-left: 60px;
}

.main-header-secondary-menu-list {
	width: 180px;
	outline: 1px solid yellow;
}

.secondary-flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


/* Сетка main*/

.promo-slider {
	margin-bottom: 100px;
	outline: 1px solid green;
}

.promo-slides-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.promo-slides-item:nth-child(1) .slide-image {
	width: 384px;
	outline: 1px solid pink;
}

.promo-slides-item:nth-child(2) .slide-image {
	width: 345px;
	outline: 1px solid pink;
}

.promo-slides-item:nth-child(3) .slide-image {
	width: 526px;
	outline: 1px solid pink;
}

.slide-info {
	width: 500px;
	
	outline: 1px solid red;
}

.product-gallery {
	margin-bottom: 100px;
}

.product-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-left: -60px;
	margin-right: -60px;
}

.product-item {
	width: 160px;
	outline: 1px solid red;
	background-color: #f7e296;
}

.services {
	background-color: #e5e5e5;
	margin-bottom: 100px;
}

.services .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.service-labels {
	width: 280px;
	margin-left: -60px;
	outline: 1px solid red;
}

.service-list {
	width: 700px;
	outline: 1px solid blue;
}

.brand-gallery {
	margin-bottom: 100px;
}

.brand-list {
	margin: 0 -60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.brand-item {
	width: 260px;
	outline: 1px solid red;
}

.flex-container-about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 100px;
}

.about-us {
	width: 560px;
	outline: 1px solid red;
	margin-left: -60px;
}

.contacts {
	width: 560px;
	outline: 1px solid red;
	margin-right: -60px;
}

/* Сетка footer*/

.main-footer {
	padding-top: 60px;
	padding-bottom: 40px;
	background-color: #464646;
}

.main-footer .container {
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-footer-logo {
	width: 200px;
	outline: 1px solid white;
	margin-right: 60px;
}

.main-footer-user-block {
	width: 900px;
	outline: 1px solid white;
}

.main-footer-contacts {
	width: 100%;
}

.main-footer-navigation-list {
	width: 100%;
}

.footer-social {
	width: 160px;
	margin-left: 500px;
	margin-right: 340px;
	outline: 1px solid white;
}

.footer-copyright {
	width: 160px;
	outline: 1px solid white;
}


/* Сетка modal-feedback*/
.modal-feedback{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	outline: 1px solid red;
}
	


/* Сетка modal-map*/
.modal-map {
	width: 994px;
	margin-left: auto;
	margin-right: auto;
	outline: 1px solid red;
}
